<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tulingDao" class="com.tuling.compent.TulingDao">
		<constructor-arg name="tulingDataSource" ref="tulingDataSource"></constructor-arg>
		<!--<property name="tulingDataSource" ref="tulingDataSource"></property>-->
	</bean>

	<bean id="tulingDataSource" class="com.tuling.compent.TulingDataSource"></bean>

	<bean id="instanceA"  class="com.tuling.circulardependencies.InstanceA" >
		<property name="instanceB"  ref="instanceB"></property>
	</bean>

	<bean id="instanceB" class="com.tuling.circulardependencies.InstanceB" >
		<property name="instanceA"  ref="instanceA"></property>
	</bean>

</beans>